* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body{
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -mos-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 2px #474747;
}

main {
    padding: 15px; /*give padding to the main so it looks like inner box*/
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.top {
    display: flex;
    justify-content: space-between;
}

h1.time {
    text-align: center;
}

div#crypto{
    font-size: 1.3rem;
}

div#crypto-top{
    display: flex;
}

div#crypto-top > span{
    margin-left: 10px;
    align-self: center;
}
